/*-----------------------------------*\
 * style.css
\*-----------------------------------*/


/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --raw-seinna: hsl(40, 100%, 52%);
    --sizzling-sunrise: hsl(51, 95%, 54%);
    --scarlet: hsl(40, 100%, 52%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
  
    /**
     * typography
     */
  
    --ff-saira-stencil-one: "Saira Stencil One", sans-serif; 
    --ff-poppins: 'Poppins', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
  
    --fs-1: 2rem;
    --fs-2: calc(1.813rem + 1vw);
    --fs-3: calc(1.313rem + 1vw);
    --fs-4: 1.4rem;
    --fs-5: 1rem;
    --fs-6: 0.813rem;
    --fs-7: 0.75rem;
  
    --fw-400: 400;
    --fw-700: 700;
}

  /*-----------------------------------*\
   * #HEADER
  \*-----------------------------------*/
  
  .header {
    padding-block: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: var(--transition-1);
    z-index: 4;
  }
  
  .header.active {
    padding-block: 12px;
    background: var(--bg-secondary);
    box-shadow: var(--shadow-1);
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .logo {
    position: relative;
    min-width: 77px;
    z-index: 2;
    
  }
  
  .logo a {
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  
  .logo span {
    display: inline-block;
    color: var(--raw-seinna);
    margin-left: 2px;
  }
  
  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
  }
  
  .navbar-actions select {
    color: var(--color-primary);
    width: 45px;
  }
  
  .navbar-actions option {
    background: var(--bg-primary);
    color: var(--color-primary);
  }
  
  .theme-btn {
    padding: 4px;
    width: 48px;
    background: var(--bg-secondary);
    border-radius: 100px;
    transition: var(--transition-1);
  }
  .nav-toggle-btn {
    position: relative;
    transform: rotate(-55deg);
    transition: var(--transition-1);
    z-index: 2;
  }
  
  .nav-toggle-btn.active { transform: rotate(-45deg); }
  
  .nav-toggle-btn span {
    width: 20px;
    height: 2px;
    background: var(--color-primary);
    margin: 5px;
    transition: var(--transition-1);
  }
  
  .nav-toggle-btn :is(.one, .three) { width: 10px; }
  
  .nav-toggle-btn .one {
    margin-left: auto;
    transform-origin: left;
  }
  
  .nav-toggle-btn .three { transform-origin: right; }
  
  .nav-toggle-btn.active .one { transform: rotate(90deg) translateX(-3px); }
  
  .nav-toggle-btn.active .three { transform: rotate(90deg) translateX(3px); }
  
  .navbar {
    position: fixed;
    background: var(--bg-secondary);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display:grid;
    place-items: center;
    visibility: hidden;
    transition: 0.75s cubic-bezier(0.71, 0.01, 0.24, 0.99);
    transition-delay: 0.5s;
    z-index: 1;
  }
  
  .navbar.active {
    top: 0;
    visibility: visible;
    transition-delay: 0s;
  }
  
  .navbar-list > li {
    margin-block: 20px;
    padding-inline: 50px;
    overflow: hidden;
  }
  
  .navbar-link {
    position: relative;
    width: max-content;
    margin-inline: auto;
    color: var(--color-primary);
    font-family: var(--ff-poppins);
    font-size: var(--fs-1);
    padding: 10px;
    transform: translateY(50px);
    transition: 0.75s cubic-bezier(0.68, -0.55, 0.27, 2);
  }
  
  .navbar.active .navbar-link {
    transform: translateY(0);
    transition-delay: 0.5s;
  }
  .navbar-link::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 5px;
    width: 0;
    background: var(--raw-seinna);
    transition: var(--transition-1);
  }
  
  .navbar-link:is(:hover, :focus)::before { width: 100%; }

  /*-----------------------------------*\
   * #HERO
  \*-----------------------------------*/
  
  main { overflow-x: hidden; }
 
  .hero {
    
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-top: 110px;
    margin-bottom: var(--section-padding);
  }
  
  .hero-banner {
    max-width: 400px;
    width: 100%;
    
  }
  
  :is(.hero-social-list, .scroll-down) { display: none; }
  
  .hero-content { max-width: 1000px; }

  .hero-social-link{
    color: #aaaa;
    margin-right: 900px;
  }
  .hero-text {
    font-size: 20px;
    color: white;
    text-align: center;
  }

  
  .hero-title {
    flex: 1 1 20rem;
    padding-top: auto;
    z-index: 1;
    text-align: center;
    margin: auto;
    font-size: 50px;
    line-height: 50px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    background: url(/docs/assets/images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;

  }
  
 @keyframes back{
100%{
  background-position: 2000px 0;
}
 }

  .hero .btn-primary { margin-inline: auto; }
 /*-----------------------------------*\
   * #ABOUT
  \*-----------------------------------*/
  
  .about { padding-block: var(--section-padding); }
  
  .about-banner {
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: auto;
    margin-top: -100px;
  }
  
  .about .btn {
    max-width: unset;
    width: 100%;
  }

  .about .btn-secondary { margin-bottom: 10px; }

    /*-----------------------------------*\
   * #RESUME
  \*-----------------------------------*/

  .resume .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .resume .box-container .box {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    margin-top: 2rem;
    overflow: hidden;
    transition: 0.3s;
    background: rgb(255, 255, 255);
  }
  .resume .box-container .box:hover {
    transform: scale(1.03);
    box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
  }
  .resume .box-container .box .image {
    flex: 1 1 20rem;
    width: 100%;
  }
  .resume .box-container .box img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .resume .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 1 1 70rem;
  }
  .resume .box-container .box .content h3 {
    font-size: 1.0rem;
    color: #000000;
    padding: 0.5rem 0;
    font-weight: 600;
    text-align: left;
    margin-left: 1rem;
  }

